/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Set background color for the entire page */
    background-image: url('web_dev_pf.jpg'); /* Add background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

header {
     padding: 20px;
  font-size: 250%;
  text-align: center;
background-color: yellow;
  vertical-align: middle;
  color: black;
 ;
}

h1 {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    justify-content: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to the box */
    background-color: rgba(255, 255, 255, 0.8); /* Set background color for the box with transparency */

      border: 3px solid red;  
  outline: 3px solid blue;  
  border-radius: 12px;  
}

.blue {
    background-color: #3498db;
    color: #fff;
}

.green {
    background-color: #2ecc71;
    color: #fff;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.6; /* Increase line height for better readability */
}